<%- include('./fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationChangePassword.js"></script>
    <h2><%= __('changePassword.title')%></h2>
    <form id="changePassword" name="changePassword" class="form" method="post" action="/password/changePassword" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="_id" value="<%= loggedUser._id %>">

        <label for="password"><%= __('changePassword.newPassword')%>:<span class="symbol-required">*</span></label>
        <input type="password" id="password" name="password">
        <span class="errors-text" id="errorPassword">
            <% if (validationErrors.find(e => e.path.includes('password'))) { %>
                <%= validationErrors.find(e => e.path.includes('password')).message%>
            <% } %>
        </span>

        <label for="repeatPassword" ><%= __('changePassword.repeatPassword')%>:<span class="symbol-required">*</span></label>
        <input type="password" id="repeatPassword" name="repeatPassword">
        <span class="errors-text" id="errorRepeatPassword">
            <% if (validationErrors.find(e => e.path.includes('repeatPassword'))) { %>
                <%= validationErrors.find(e => e.path.includes('repeatPassword')).message%>
            <% } %>
        </span>
    </form>
    <div class="form-buttons">
        <p id="errorsSummary" class="errors-text"> <%= validationErrors.length > 0 ? __('validation.invalidForm') : ''%> </p>
        <input class="form-buttons-submit" type="submit" form="changePassword" value="<%= __('changePassword.confirm')%>">
        <a class="form-buttons-cancel" href="/"><%= __('form.actions.cancel')%></a>
    </div>
</main>
<%- include('./fragments/footer.ejs') %>

<div style="display:none">
    <span id="errorMessage-required"><%= __('validation.required')%></span>
    <span id="errorMessage-invalidForm"><%= __('validation.invalidForm')%></span>
    <span id="errorMessage-password-range"><%=__('validation.password.range')%></span>
    <span id="errorMessage-repeatPassword"><%= __('validation.repeatPassword')%></span>
</div>